doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        base(href=base_path)
        script(type='text/javascript').
            var BASE_PATH = !{JSON.stringify(base_path)};
        link(rel='stylesheet', type='text/css', href='./css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='./css/joint.min.css')
        link(rel='stylesheet', type='text/css', href='./css/almost-joint.min.css')
        link(rel='stylesheet', type='text/css' href='./css/editor.min.css')
        // Favicons
        link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='favicon.ico')
        //if IE
        link(rel='shortcut icon', href='favicon.ico')
        // Optional: Android & iPhone
        link(rel='apple-touch-icon-precomposed', href='favicon-152.png')
        // Optional: IE10 Tile.
        meta(name='msapplication-TileColor', content='#FFFFFF')
        meta(name='msapplication-TileImage', content='favicon-144.png')
        // Optional: ipads, androids, iphones, ...
        link(rel='apple-touch-icon-precomposed', sizes='228x228', href='favicon-228.png')
        link(rel='apple-touch-icon-precomposed', sizes='195x195', href='favicon-195.png')
        link(rel='apple-touch-icon-precomposed', sizes='152x152', href='favicon-152.png')
        link(rel='apple-touch-icon-precomposed', sizes='144x144', href='favicon-144.png')
        link(rel='apple-touch-icon-precomposed', sizes='128x128', href='favicon-128.png')
        link(rel='apple-touch-icon-precomposed', sizes='120x120', href='favicon-120.png')
        link(rel='apple-touch-icon-precomposed', sizes='96x96', href='favicon-96.png')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='favicon-72.png')
        link(rel='apple-touch-icon-precomposed', sizes='57x57', href='favicon-57.png')
        link(rel='apple-touch-icon-precomposed', sizes='32x32', href='favicon-32.png')
        link(rel='apple-touch-icon-precomposed', href='favicon-57.png')
    body
        div
            nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
                a.navbar-brand(href='#')
                    include favicon.svg
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-menu' aria-controls='main-menu' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #main-menu.collapse.navbar-collapse
                    ul.navbar-nav.nav.mr-auto(role='tablist')
                        li.nav-item
                            a#ifml-tab.nav-link.active(data-toggle='tab', role='tab', aria-selected='true', data-target='#ifml') IFML
                        li.nav-item
                            a#pcn-tab.nav-link(data-toggle='tab', role='tab', aria-selected='false', data-target='#pcn') PCN
                        li.nav-item
                            a#web-server-tab.nav-link(data-toggle='tab', role='tab', aria-selected='false', data-target='#web-server') Web Server
                        li.nav-item
                            a#web-client-tab.nav-link(data-toggle='tab', role='tab', aria-selected='false', data-target='#web-client') Web Client
                        li.nav-item
                            a#mobile-tab.nav-link(data-toggle='tab', role='tab', aria-selected='false', data-target='#mobile') Mobile
                        li.nav-item
                            a#statistics-tab.nav-link(data-toggle='tab', role='tab', aria-selected='false', data-target='#statistics') Statistics
                        li.nav-item
                            a#about-tab.nav-link(data-toggle='tab', role='tab', aria-selected='false', data-target='#about') About
            .tab-content
                #ifml.tab-pane.editor.active(role='tabpanel', aria-labelledby='ifml-tab')
                    .sidebar
                        .list-group
                            button.list-group-item.list-group-item-action.model-load(type='button') Load Model
                            button.list-group-item.list-group-item-action.modal-example(type='button') Load Example
                            button.list-group-item.list-group-item-action.model-download(type='button') Download Model
                            button.list-group-item.list-group-item-action.png-download(type='button') Download as PNG
                    .board
                    input(type='file', style='width:0; height: 0')
                #pcn.tab-pane.editor(role='tabpanel', aria-labelledby='pcn-tab')
                    .sidebar
                        .list-group
                            button.list-group-item.list-group-item-action.model-generate(type='button') Generate
                            button.list-group-item.list-group-item-action.png-download(type='button') Download as PNG
                            .list-group-item
                                label
                                    input#pcn-simulate(type='checkbox')
                                    span Simulate
                    .board
                #statistics.tab-pane.editor(role='tabpanel', aria-labelledby='statistics-tab')
                    .sidebar
                        .list-group
                            button.list-group-item.list-group-item-action.model-load(type='button') Load Statistics
                        .list-group
                            .list-group-item Element Statistics
                        .list-group.statistics-color
                        .list-group
                            .list-group-item Source Statistics
                        .list-group.statistics-in
                        .list-group
                            .list-group-item Target Statistics
                        .list-group.statistics-out
                    .board.not-interactive
                    input(type='file', style='width:0; height: 0')
                #web-server.tab-pane.content(role='tabpanel', aria-labelledby='web-server-tab')
                    .container
                        .row
                            .col-12
                                h3
                                    button.btn.btn-primary.zip-try(type='button') Try in the Browser
                                    button.btn.btn-secondary.edit-db(type='button') ☰
                                .card
                                    .card-header.bg-dark
                                        form
                                            .input-group
                                                span.input-group-prepend
                                                    button.input-group-text.ifbrowser-back(type='button') ❮
                                                span.input-group-prepend
                                                    button.input-group-text.ifbrowser-forward(type='button') ❯
                                                span.input-group-prepend
                                                    button.input-group-text.ifbrowser-repeat(type='button') ⟲
                                                span.input-group-prepend
                                                    span.input-group-text.ifbrowser-baseaddress http://.../web/
                                                input.form-control.ifbrowser-address(type='text')
                                                span.input-group-append
                                                    button.input-group-text.ifbrowser-go(type='button') ▶
                                    .card-body.ifbrowser
                        .row
                            .col-12
                                h3 Or...
                                    button.btn.btn-primary.zip-download(type='button') Download the Source Files
                                h3 Once downloaded...
                                ol
                                    li
                                        | Install&nbsp;
                                        strong Node.js®
                                        | &nbsp;following the instructions on the&nbsp;
                                        a(href='https://nodejs.org/en/download/') official website
                                    li
                                        | Unpack the
                                        code webexample.zip
                                        | file
                                    li
                                        | Open a terminal and navigate to the
                                        code webexample
                                        | folder:
                                        pre
                                            span.text-primary cd&nbsp;
                                            span.text-success path_to_workspace/webexample
                                    li
                                        | Install all the dependencies running the command:
                                        pre
                                            span.text-primary npm&nbsp;
                                            span.text-success install
                                    li
                                        | Start the local server:
                                        pre
                                            span.text-primary npm&nbsp;
                                            span.text-success start
                                        | To stop the local server press&nbsp;
                                        kbd
                                            kbd ctrl
                                            | &nbsp;+&nbsp;
                                            kbd c
                                    li
                                        | Open to the application by navigation to&nbsp;
                                        a(href='http://localhost:3001') http://localhost:3001
                                br
                                br
                                br
                #web-client.tab-pane.content(role='tabpanel', aria-labelledby='web-client-tab')
                    .container
                        .row
                            .col-12
                                h3
                                    button.btn.btn-primary.zip-try(type='button') Try in the Browser
                                    button.btn.btn-secondary.edit-db(type='button') ☰
                                .card
                                    .card-header.bg-dark &nbsp;
                                    .card-body.ifclient
                        .row
                            .col-12
                                h3 Or...
                                    button.btn.btn-primary.zip-download(type="button") Download the Source Files
                                h3 Once downloaded...
                                ol
                                    li
                                        | Install&nbsp;
                                        strong Node.js®
                                        | &nbsp;following the instructions on the&nbsp;
                                        a(href='https://nodejs.org/en/download/') official website
                                    li
                                        | Unpack the
                                        code clientexample.zip
                                        | file
                                    li
                                        | Open a terminal and navigate to the
                                        code clientexample
                                        | folder:
                                        pre
                                            span.text-primary cd&nbsp;
                                            span.text-success path_to_workspace/clientexample
                                    li
                                        | Install all the dependencies running the command:
                                        pre
                                            span.text-primary npm&nbsp;
                                            span.text-success install
                                    li
                                        | Rebuild sources after a code change:
                                        pre
                                            span.text-primary npm&nbsp;
                                            span.text-success run-script build
                                    li
                                        | Open to the application by opening:
                                        code www/index.html
                                br
                                br
                                br
                #mobile.tab-pane.content(role='tabpanel', aria-labelledby='mobile-tab')
                    .container
                        .row
                            .col-12.col-md-5
                                h3
                                    button.btn.btn-primary.zip-try(type='button') Try in the Browser
                                    button.btn.btn-secondary.edit-db(type='button') ☰
                                .col-10.offset-1.col-sm-8.offset-sm-2.col-md-12.offset-md-0
                                    .card.ifmobile
                                        .card-header.bg-dark
                                            .col-4.offset-4.ifmobile-speaker
                                        .card-body.bg-dark
                                            .ifmobile-wrapper
                                            .btn-group.d-flex(role="group")
                                                button.btn.btn-dark(type='button') ❮
                                                button.btn.btn-dark(type='button') ⌂
                                                button.btn.btn-dark(type='button') ⧉
                            .col-12.col-md-7
                                ul.nav.nav-tabs(role='tablist')
                                    li.active(role='presentation')
                                        a(role='tab', data-toggle='tab', aria-controls='cordova', href='#cordova') Cordova
                                    li(role='presentation')
                                        a(role='tab', data-toggle='tab', aria-controls='flutter', href='#flutter') Flutter
                                .tab-content
                                    #cordova.tab-pane.active(role='tabpanel')
                                        h3 Or...
                                        button.btn.btn-primary.zip-download(type='button') Download the Source Files
                                        h3 Once downloaded...
                                        ol
                                            li
                                                | Install&nbsp;
                                                strong Node.js®
                                                | &nbsp;following the instructions on the&nbsp;
                                                a(href='https://nodejs.org/en/download/') official website
                                            li
                                                | Install&nbsp;
                                                strong Cordova®
                                                pre
                                                    span.text-primary npm&nbsp;
                                                    span.text-success install -g cordova
                                                | For the platform specific dependencies follow the instructions on the&nbsp;
                                                a(href='https://cordova.apache.org/docs/en/latest/guide/cli/index.html#install-pre-requisites-for-building') official website
                                            li
                                                | Unpack the
                                                code mobileexample.zip
                                                | file
                                            li
                                                | Open a terminal and navigate to the
                                                code mobileexample
                                                | folder:
                                                pre
                                                    span.text-primary cd&nbsp;
                                                    span.text-success path_to_workspace/mobileexample
                                            li
                                                | Install all the dependencies running the command:
                                                pre
                                                    span.text-primary npm&nbsp;
                                                    span.text-success install
                                            li
                                                | Rebuild sources after a code change:
                                                pre
                                                    span.text-primary npm&nbsp;
                                                    span.text-success run-script build
                                            li
                                                | Add the target platforms
                                                pre
                                                    span.text-primary cordova&nbsp;
                                                    span.text-success platform add android
                                                    br
                                                    span.text-primary cordova&nbsp;
                                                    span.text-success platform add ios
                                                    br
                                                    span.text-primary cordova&nbsp;
                                                    span.text-success platform add ...
                                            li
                                                | Build the application
                                                pre
                                                    span.text-primary cordova&nbsp;
                                                    span.text-success build android
                                                    br
                                                    span.text-primary cordova&nbsp;
                                                    span.text-success build ios
                                                    br
                                                    span.text-primary cordova&nbsp;
                                                    span.text-success build ...
                                            li
                                                | Run the application
                                                pre
                                                    span.text-primary cordova&nbsp;
                                                    span.text-success run android
                                                    br
                                                    span.text-primary cordova&nbsp;
                                                    span.text-success run ios
                                                    br
                                                    span.text-primary cordova&nbsp;
                                                    span.text-success run ...
                                    #flutter.tab-pane(role='tabpanel')
                                        .alert.alert-warning(role='alert') Experimental
                                        h3 Or...
                                        button.btn.btn-primary.zip-download(type='button') Download the Source Files
                                        h3 Once downloaded...
                                        ol
                                            li
                                                | Install&nbsp;
                                                strong Flutter®
                                                | &nbsp;following the instructions on the&nbsp;
                                                a(href='https://flutter.io/setup/') official website
                                            li
                                                | Unpack the
                                                code flutterexample.zip
                                                | file
                                            li
                                                | Open a terminal and navigate to the folder where you unpacked the zip
                                            li
                                                | Create all the support files:
                                                pre
                                                    span.text-primary flutter&nbsp;
                                                    span.text-success create&nbsp;
                                                    span.text-success flutterexample
                                            li
                                                | Run the application:
                                                pre
                                                    span.text-primary cd&nbsp;
                                                    span.text-success path_to_workspace/mobileexample
                                                    br
                                                    span.text-primary flutter&nbsp;
                                                    span.text-success run
                                br
                                br
                                br
                #about.tab-pane.content(role='tabpanel', aria-labelledby='about-tab')
                    .container
                        .row
                            .col-12
                                div.col-12.col-md-8.offset-md-2.text-center
                                    include logo.svg
                                h1.text-center IFMLEdit.org
                                | is an open source on-line tool offered to the software engineering community, usable for model driven engineering education and for rapid prototyping of web and mobile applications based on&nbsp;
                                a(href='http://ifml.org') IFML
                                | .
                                div.row
                                    div.col-12.col-md-8.offset-md-2
                                        div.embed-responsive.embed-responsive-16by9
                                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube-nocookie.com/embed/y_hDVeUbi7g?rel=0&amp;showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen)
                                h2 Do you want to help?
                                h3
                                    a(href='https://github.com/B3rn475/IFMLEdit.org') Fork on github
                                | Help us grow an make the tool better
                                h3
                                    a(href='https://github.com/B3rn475/IFMLEdit.org/issues') Open an issue
                                | Send us suggestions or bug reports
                                h2 The tool is built with:
                                blockquote.blockquote
                                    p.mb-0
                                        a(href='https://github.com/B3rn475/ALMOsTjs') ALMOsT
                                    footer.blockquote-footer ALMOsT is an AgiLe MOdel Transformations framework for JavaScript
                                blockquote.blockquote
                                    p.mb-0
                                        a(href='https://github.com/B3rn475/ALMOsTjs') ALMOsT-Joint
                                    footer.blockquote-footer ALMOsT-Joint is a plugin for ALMOsT which focuses on Graphical Notations
                                h2 Related Research:
                                blockquote.blockquote
                                    p.mb-0
                                        a(href='https://doi.org/10.1016/j.jss.2017.11.067') Formal Semantics of OMGs Interaction Flow Modeling Language (IFML) for Mobile and Rich-Client Application Model Driven Development
                                    footer.blockquote-footer Carlo Bernaschina, Sara Comai, Piero Fraternali
                                blockquote.blockquote
                                    p.mb-0
                                        a(href='https://dl.acm.org/citation.cfm?id=3104129') IFMLEdit.org: model driven rapid prototyping of mobile apps
                                    footer.blockquote-footer Bernaschina, Sara Comai, Piero Fraternali
                                blockquote.blockquote
                                    p.mb-0
                                        a(href='https://dl.acm.org/citation.cfm?id=3104079') Online model editing, simulation and code generation for web and mobile applications
                                    footer.blockquote-footer Carlo Bernaschina, Sara Comai, Piero Fraternali
                                blockquote.blockquote
                                    p.mb-0
                                        a(href='https://link.springer.com/chapter/10.1007/978-3-319-60131-1_5') ALMOsT.js: An Agile Model to Model and Model to Text Transformation Framework
                                    footer.blockquote-footer Carlo Bernaschina
        script(type='text/javascript', src='./js/lodash.min.js')
        script(type='text/javascript', src='./js/jquery.min.js')
        script(type='text/javascript', src='./js/backbone.min.js')
        script(type='text/javascript', src='./js/knockout.min.js')
        script(type='text/javascript', src='./js/joint.min.js')
        script(type='text/javascript', src='./js/FileSaver.min.js')
        script(type='text/javascript', src='./js/bootstrap.min.js')
        script(type='text/javascript', src='./js/bootstrap-notify.min.js')
        script(type='text/javascript', src='./js/almost.min.js')
        script(type='text/javascript', src='./js/almost-joint.min.js')
        script(type='text/javascript', src='./js/index.js')
