doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', type='text/css', href='./css/bootstrap.min.css')
    body
        main-application.flow-text(params='context: context')
        script(type='text/javascript', src='./js/jquery.min.js')
        script(type='text/javascript', src='./js/bootstrap.min.js')
        script(type='text/javascript', src='./js/bootstrap-notify.min.js')
        script(type='text/javascript', src='./js/knockout.min.js')
        script(type='text/javascript', src='./js/nedb.min.js')
        script(type='text/javascript', src='./js/bluebird.min.js')
        script(type='text/javascript', src='./js/index.js')
