<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- TODO: Remove to use a different UI framework BEGIN -->
    <link rel="stylesheet" type="text/css" href="./css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./css/material-design-icons.min.css">
    <!-- TODO: Remove to use a different UI framework END -->
  </head>
  <body>
    <main-application class="flow-text" params="context: context"></main-application>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <!-- TODO: Remove to use a different UI framework BEGIN -->
    <script type="text/javascript" src="./js/materialize.min.js"></script>
    <!-- TODO: Remove to use a different UI framework END -->
    <script type="text/javascript" src="./js/knockout.min.js"></script>
    <!-- TODO: Remove if not using NEDB BEGIN -->
    <script type="text/javascript" src="./js/nedb.min.js"></script>
    <!-- TODO: Remove if not using NEDB END -->
    <script type="text/javascript" src="./js/bluebird.min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
  </body>
</html>
