doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='stylesheet', type='text/css', href='./css/materialize.min.css')
        link(rel='stylesheet', type='text/css', href='./css/material-design-icons.min.css')
        style.
            html {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                zoom: 0.85;
                cursor: url(./img/mobile-cursor.cur), auto;
            }
    body
        main-application.flow-text(params='context: context')
        script(type='text/javascript', src='./js/jquery.min.js')
        script(type='text/javascript', src='./js/materialize.min.js')
        script(type='text/javascript', src='./js/knockout.min.js')
        script(type='text/javascript', src='./js/nedb.min.js')
        script(type='text/javascript', src='./js/bluebird.min.js')
        script(type='text/javascript', src='./js/index.js')
